---
layout: minimal
title: "About me"
permalink: /about/index.html
description: "Alireza Mosajjal."
---

<img itemprop="image" class="img-rounded about_perfil" src="{{ '/assets/img/author.jpg'}}" alt="My profile">

<h2>My projects</h2>

<div class="aboutme">
	<ul class="recent">
		{% for project in site.projects %}
	    	<li><a href="{{ project.url}}"><h3 class="project-name" itemprop="name">{{ project.name }}</h3></a></li>
	    {% endfor %}
	</ul>
</div>
