---
layout: minimal
title: "Posts"
permalink: /posts/index.html
image: '/assets/img/posts.png'
description: "Take a look at my Posts..."
---

<h2>My projects</h2>

<div class="aboutme">
	<ul class="recent">
		{% for project in site.projects %}
	    	<li><a href="{{ project.url}}"><h3 class="project-name" itemprop="name">{{ project.name }}</h3></a></li>
	    {% endfor %}
	</ul>
</div>

<!-- ---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        <div class="page_posts">
        {% include svg-icons.html %}
        {% include header-post.html %}
        {% include tree-posts.html %}
        </div>
        {% include scripts.html %}
    </body>
</html> -->
