<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Send email" title="Send me a e-mail" href="mailto:{{site.email}}">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>

            <a aria-label="My Twitter" title="Follow me on Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>

            <a aria-label="My GPG Key" title="Show my GPG" target="_blank" href="{{ "/assets/gpg/pub.txt" }}">
                <i class="fas fa-key" aria-hidden="true"></i>
            </a>

            <a aria-label="My Github" title="Show my projects" target="_blank" href="https://github.com/{{site.github_username}}">
                <i class="fab fa-github" aria-hidden="true"></i>
            </a>

            <a aria-label="My LinkedIn" title="Show my linkedin profile" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_public_url}}">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
            </a>

            <a aria-label="Use the RSS to get updated" title="Register for my RSS" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <i class="fas fa-rss" aria-hidden="true"></i>
            </a>
        </div>

        <ul class="recent">
            <p>Recent posts:</p>
             {% for post in site.posts limit:3%}
                <li>
                    <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

        <ul class="recent">
            <p>Recent projects:</p>
             {% for project in site.projects limit:5%}
                <li>
                    <a title="{{ project.name }}" href="{{ project.url}}">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

    </div>
    {% include menu-search.html %}
</header>
