<header class="header-post">
    <p style="height:100%; padding:0%" >
       <a href="https://n0p.me"><img style="height:80%; margin-top:6px;" src="{{ "/assets/img/logo.svg"}}" alt="n0p blog"></a>
    </p>
    {% include menu-search.html %}

    <!-- Progress bar for pages -->
    <div class="progress-header">
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </div> 
    <style>
        .progress-header {
            position: fixed;
            bottom: 0;
            z-index: 1;
            width: 100%;
        }
        
        /* The progress container (grey background) */
        .progress-container {
            width: 100%;
            height: 8px;
            background: #ccc;
        }
        
        /* The progress bar (scroll indicator) */
        .progress-bar {
            height: 8px;
            background: #40276d;
            width: 0%;
        }
    </style>
    <script>
        window.onscroll = function() {myFunction()};

        function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
        }
    </script>
</header>
