---
layout: compress
---
<!DOCTYPE html>
<html lang="en" style="background:#5d4d7a">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
            <main role="main" class="content">
                {{ content }}
            </main>
        {% include scripts.html %}
    </body>
    <script>
        $(window).on('load', function() {
            $(".content").css("top", $(".content").height()/2)
        });
    </script>
</html>
